#drop-it-like-its-hot, #display {
  width: 300px;
  height: 300px;
  margin: 16px;
  border: 6px dotted lightgray;
  float: left;
}
#display img {
  width: 300px;
  height: 300px;
}

footer {
  clear: both;
}
