@media screen {

  body, html {
    background-color: #1dccaa;
  }

  div#app {
    padding-top: 80px;
  }

  /* =branding */
  div#branding {
    text-align: center;
    padding-top: 13px;
  }
  div#branding a {
    color: #eee;
  }
  div#branding a:hover {
    color: #233140;
  }
  div#branding #logo i {
    font-size: 78px;
    color: #eee;
  }
  div#branding h1 {
    font-size: 36px;
    margin-top: 3px;
  }

  div#content-main {
    background-color: #edeff1;
    padding: 20px;
    border-radius: 6px;
  }
  div#content-main p:last-child {
    margin: 0;
  }
  div#content-main p {
    text-align: center;
  }
  div#content-main p.dropbox {
    width: 100%;
    background-color: white;
    color: #bfc6cb;
    line-height: 42px;
    border-radius: 6px;
    text-indent: 12px;
  }

  /* =display-door-decs */
  div#display-door-decs {
    margin-top: 24px;
    width: 100%;
    height: 160px;
  }

  /* =print-door-decs */
  div#print-door-decs {
    display: none;
  }

  /* =footer */
  footer {}

}

@media print {
  div#app {
    display: none;
  }
  div#print-door-decs {
    display: block;
  }
  div#print-door-decs ul li {
    float: left;
  }
}
